.skillsBlock {
    height: 100vh;
    background-color: #67ff7b;
}
.skillsContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.title {
    background-color: darkcyan;
}
.skills {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}