.projectContainer {
    width: 250px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 8px;
}
.imgBox {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://avatars.dzeninfra.ru/get-zen_doc/1545908/pub_5d933cc…_5d933ce…/scale_1200");
    background-size: cover;
    background-position: center;
    background-color: #ff34d7;

}

.button {
    box-sizing: border-box;
    background-color: chocolate;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 12px;
}
.title {
    padding: 8px;
}
.description {
    box-sizing: border-box;
    padding: 8px;
}
