.footerBox {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.name {
    text-align: center;
}
.iconsBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}