.projectBlock {
    height: 100vh;
    background-color: #1537e7;
}
.projectContainer {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

}
.title {
    background-color: darkcyan;
}
.project {
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}